<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hearts and Bones Rescue - @ViewBag.Title</title>

    @* Recommended meta tags for bootstrap *@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 

	<link rel="stylesheet" href="/Styles/materialize/materialize.min.css">
	<link rel="stylesheet" href="/Styles/site.min.css">

	@RenderSection("Styles", false)
</head>

<body>
	@Html.Partial("/Views/Shared/_Header.cshtml")
		
    <main>
		@RenderSection("BeforeBody", false)
			
		<div class="container" id="content">	
			@RenderSection("Title", false)
	    	@RenderBody()
		</div>
	</main>

    @* Bootstrap JS files *@
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script src="/Scripts/site.js" type="text/javascript"></script>

	@RenderSection("Scripts", false)
</body>
</html>
